@charset "utf-8";

/* 헤더영역 */
header{
  width: 100%;
  background: #f6f5f0;
  position: fixed; top: 0px;
  z-index: 100;
  border-bottom: 1px solid #c8c8c8;
}
header > .inner{
  height: 120px; width: 1100px;
  margin: 0px auto;
  position: relative;
}
header .inner h1{padding-top: 20px;}
/* 상단서브메뉴 서식 */
.sub_mnu{
  position: absolute;
  top: 10px; right: 0px;
  display: flex;
}
.sub_mnu > ul{
  display: flex;
}
.sub_mnu > ul > li{
  position: relative;
}
.sub_mnu > ul > li::before{
  content: "";
  width: 1px; height: 12px;
  background: #c8c8c8;
  position: absolute;
  top: 12px; bottom: 0px;
}
.sub_mnu > ul > li:first-child::before{display: none;}
.sub_mnu > ul > li > a{
  padding: 11px 16px;
  display: block;
  font-size: 13px;
}
.search{
  position: relative;
  height: 34px;
}
.search input{
  width: 36px; height: 34px;
  padding: 4px 10px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 5px;
  outline: none;
  background: #fff;
  color: #777;
  transition: width 0.4s;
}
.search input:focus{
  width: 190px;
  border-color: #ea9926;
}
.search input:focus + label .material-icons{
  opacity: 0;
}
.search label{cursor: pointer;}
.search .material-icons{
  height: 24px;
  transform: translate(-34px, 11px);
  font-size: 26px;
  transition: 0.4s;
}

/* 메인메뉴 서식 */
.gnb{
  position: absolute;
  bottom: 0px; right: 0px;
}
.gnb > ul{
  display: flex;
}
.gnb > ul > li > a{
  text-transform: uppercase;
  font-size: 15px;
  padding: 10px 20px 34px 20px;
  display: block;
}
.gnb > ul > li > a:hover{
  color: #ea9926;
  background-color: #2c2a29;
  border-radius: 6px 6px 0 0;
}
.gnb ul li:hover .item_content{display: block;}

/* 서브메뉴 서식 */
.item_content{
  width: 100%;
  position: fixed;
  left: 0px;
  background: #2c2a29;
  display: none;
}
.sub_wrap{
  width: 1100px;
  margin: 0px auto;
  position: relative;
  display: flex;
}
.sub{
  padding: 20px 0px;
}
.sub dt, .sub dd{
  widtH: 220px;
}
.sub dt{
  padding: 3px 0 12px 0;
  font-size: 14px;
  color: #fff;
}
.sub dd a{
  padding: 5px 0;
  font-size: 12px;
  color: #999;
  cursor: pointer;
  line-height: 200%;
}
.sub dd a:hover{
  color: #ea9926;
}

.content_tex{
  background-image: url("../images/main_menu_pattern.jpg");
  padding: 26px 0px 10px 0;
  font-size: 12px;
}
.inner{
  width: 1100px;
  margin: 0px auto;
  position: relative;
}
.content_tex h4{
  color: #999;
  font-weight: 900;
}
.content_tex p{
  color: #ea9926;
  margin: 4px 0 14px;
}

/* 메인영역 */
main{background: #ccc;}
.visual{
  height: 640px;
  background: #a2a2a2;
}
.notice{
  height: 60px;
  background: #333;
}
.banner{
  height: 660px;
  background: #ccc;
}
.brand{
  height: 240px;
  background: #333;
}
.con01{
  height: 700px;
  background: #a2a2a2;
}
.con02{
  height: 400px;
  background: #ccc;
}
/* .con03{
  height: 400px;
  background: #333;
} */
.con04{
  height: 700px;
  background: #a2a2a2;
}
.con05{
  height: 1000px;
  background: #ccc;
}

/* 푸터영역 */
footer{
  height: 470px;
  background: #333;
}